h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px; text-align: center;
    color: rgb(24, 6, 6); }

ul li {list-style-type: none;
    text-align: center; margin-left: 15%;
    display: inline;
    font-family: cursive;}
    div { text-align: center; 
    }

section {box-sizing: content-box;
        border: solid 3px black;
        background-color: rgb(245, 141, 141);
        margin-left: 5%;
        margin-right: 5%;
        margin-block-end: 3%;
        margin-top: 5%;
    }
.col-8 { text-align:left;
margin-left: 10%;
}
.img.serv { float: left; width: 40px;
    height: 60px;}

h3 .esculpidas { text-align: right;}
